@font-face {
    font-family: Raleway2;
    src: url(/assets/fonts/raleway.light.ttf);
}

.view {
    width: 240px;
    height: 150px;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.view img {
    display: block;
    position: relative
}

.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}

.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    color: #fff;
    text-transform: uppercase;
}

.view a.info:hover {
    text-decoration: underline;
}

.view-second img {
    transition: all 0.2s ease-in;
}

.view-second .mask {
    background-color: rgba(115, 146, 184, 0.7);
    width: 300px;
    padding: 60px;
    height: 300px;
    opacity: 0;
    transform: translate(265px, 145px) rotate(45deg);
    transition: all 0.2s ease-in-out;
}

.view-second h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: translate(200px, -200px);
    transition: all 0.2s ease-in-out;
}

.view-second p {
    transform: translate(-200px, 200px);
    transition: all 0.2s ease-in-out;
}

.view-second a.info {
    transform: translate(0px, 100px);
    transition: all 0.2s 0.1s ease-in-out;
}

.view-second:hover .mask {
    opacity: 1;
    transform: translate(-32px, -65px) rotate(0deg);
}

.view-second:hover h2 {
    transform: translate(0px, 0px);
    transition-delay: 0.3s;
}

.view-second:hover p {
    transform: translate(0px, 0px);
    transition-delay: 0.4s;
}

.view-second:hover a.info {
    transform: translate(0px, 0px);
    transition-delay: 0.5s;
}

.mask {
p {
    margin: 0px;
    padding: 0px;
}
h4 {
    margin-bottom: 0px;
    color: #fff;
}
}

.dng-navigation--left > li > a:focus, .dng-navigation--left > li > a:hover {
    background: none;
}
.dng-navigation--left li{
    cursor: pointer;
}
.nav>li>a:focus, .nav>li>a:hover{
    background: none;
    text-decoration: underline;
}

.dng-margin--top {
    margin-top: 25px;
}

.dng-footer {
    bottom: 0px;
    position: absolute;
    background: none;
    margin-left: -30px;
    margin-bottom: 50px;
}

.dng-logo {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: -15px;
}
