@font-face {
    font-family: Raleway2;
    src: url(/assets/fonts/raleway.light.ttf);
}

.view {
    width: 240px;
    height: 150px;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.view img {
    display: block;
    position: relative
}

.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}

.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    color: #fff;
    text-transform: uppercase;
}

.view a.info:hover {
    text-decoration: underline;
}

.view-second img {
    transition: all 0.2s ease-in;
}

.view-second .mask {
    background-color: rgba(115, 146, 184, 0.7);
    width: 300px;
    padding: 60px;
    height: 300px;
    opacity: 0;
    transform: translate(265px, 145px) rotate(45deg);
    transition: all 0.2s ease-in-out;
}

.view-second h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: translate(200px, -200px);
    transition: all 0.2s ease-in-out;
}

.view-second p {
    transform: translate(-200px, 200px);
    transition: all 0.2s ease-in-out;
}

.view-second a.info {
    transform: translate(0px, 100px);
    transition: all 0.2s 0.1s ease-in-out;
}

.view-second:hover .mask {
    opacity: 1;
    transform: translate(-32px, -65px) rotate(0deg);
}

.view-second:hover h2 {
    transform: translate(0px, 0px);
    transition-delay: 0.3s;
}

.view-second:hover p {
    transform: translate(0px, 0px);
    transition-delay: 0.4s;
}

.view-second:hover a.info {
    transform: translate(0px, 0px);
    transition-delay: 0.5s;
}

.dng-disable-scroll{
    overflow-y: hidden;
    overflow-x: hidden;
}

.mask {

p {
    margin: 0px;
    padding: 0px;
}

h4 {
    margin-bottom: 20px;
    color: #fff;
}
}

.dng-navigation--left > li > a:focus, .dng-navigation--left > li > a:hover {
    background: none;
}

.dng-navigation--left li{
    cursor: pointer;
}

.nav>li>a:focus, .nav>li>a:hover{
    background: none;
    text-decoration: underline;
}

.dng-margin--top {
    margin-top: 25px;
}

.dng-margin--bottom {
    margin-bottom: 25px;
}

.dng-navigation--unempty {

    &:before {
        content: "- ";
    }
}

.dng-footer {
    bottom: 0px;
    position: absolute;
    background: none;
    margin-left: -30px;
    margin-bottom: 50px;
    width: 100%;
}

.dng-logo {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: -15px;
}

.dng-pading--top-120{
    padding-top: 120px;
}

.dng-title__descript{
    opacity: 0.4;
}

.dng-menu {
    background: linear-gradient(135deg, #ededed 10%, #d2e5e8 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#d2e5e8', GradientType=1) !important;
    padding-left: 30px;
}

.mdl-mega-footer {
    color: #333;
    font-size: 16px;
    font-family: Raleway2;

}

.dng-footer div:nth-child(2) p {
    text-decoration: underline;
    font-weight: 800;
}

.navbar-fixed-side {
    position: fixed;
    margin: 0 -15px;
    height: 100vh;
    width: 220px;
    overflow: auto;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0;
    font-weight: bold;
    font-family: Raleway2;
    overflow-x: hidden;

    a {
        color: #757575;
    }
}

.p-l-2 {
    padding-left: 25px;
}

.dng-navigation--left > li > a:hover {
    background: none;
    text-decoration: underline;
}

.navbar-fixed-side .dng-button--our-site {
    padding: 11px 30px;
    color: #eeeeee;
    font-size: 11px;
    background: #52929E;
    box-shadow: 1px 1px 5px #89D3CD;
    font-weight: bold;
    font-family: Raleway2;
}

.dng-footer__description {
    font-size: 12px;
    color: #b7b7b7;
}

#page-wrapper {
    position: relative;
    margin: 0 0 0 210px;
    padding: 0;
}

.dng-content {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,62a1ad+100 */
    background: #333333; /* Old browsers */
    background: -moz-linear-gradient(45deg, #333333 0%, #62a1ad 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #333333 0%, #62a1ad 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #333333 0%, #62a1ad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#62a1ad', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    position: fixed;
    z-index: 1;
    opacity: 0.95;
    top: 0px;
    right: 0px;
    left: 205px;
    bottom: 0px;
    font-family: Raleway2;

    &__view {
        color: #ffffff;
        a {
            color: #ffffff;
        }
    }

    &__header {
        padding-top: 160px;
    }
    &__h {
        margin-top: 70px;
        margin-bottom: 40px;
    }
    &__a {
        margin: 160px 0px;
        margin-bottom: 10px;
    }
    &__img {
        width: 240px;
        height: 150px;
    }
    &__link {
        &--bordered {
            padding: 15px 60px;
            border: 1px solid #fff;
            font-size: 18px;
            font-weight: bold;
        }
    }
}

.dng-transition{
    transition-property: transform;
    transition-duration: 1s;
}

.dng-container--footer {
    padding:5em 3em;
    transform: translate3d(0px, 500px, 0px);
}

.hideToTop{
    transform: translate3d(0px, -500px, 0px);
}

.showInTop{
    transform: translate3d(0px, -210px, 0px);
}

.showInBottom{
    transform: translate3d(0px, -310px, 0px);
}

.dngMovetopSmall{
    transform: translateY(-290px);
}

.cursor{
    cursor: pointer;
}

#toggle{
    cursor:pointer;
    width: 100px;
    border-radius: 3px;
    color: #FFF;
    line-height:20px;
    font-size:12px;
    text-align:center;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    transition:all 500ms ease;
    &:hover{
        text-decoration: underline;
    }
}

label:after {
    content:"Who are we?"
}
.dng-row{
    margin-left: -25px;
}